name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.19.0'

    - name: Install dependencies
      run: |
        npm install -g @angular/cli # Install Angular CLI globally
        npm install # Install project dependencies

    - name: Build Angular project
      run: ng build --prod --base-href "https://akbarmuchamad.github.io/simple-admin-panel-angular/"

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist/simple-admin-panel-angular
